*color0:                    #2e3436
*color8:                    #555753
*color1:                    #cc0000
*color9:                    #ef2929
*color2:                    #4e9a06
*color10:                   #8ae234
*color3:                    #c4a000
*color11:                   #fce94f
*color4:                    #3465a4
*color12:                   #729fcf
*color5:                    #75507b
*color13:                   #ad7fa8
*color6:                    #0b939b
*color14:                   #00f5e9
*color7:                    #d3d7cf
*color15:                   #eeeeec

*colorBD:                   #abb2bf
*colorUL:                   #abb2bf
*colorIT:                   #abb2bf

Xft.dpi:                    96
Xft.hinting:                1
Xft.hintstyle:              0
Xft.antialias:              1
Xft.rgba:                   5

Xcursor.size:               24

URxvt.foreground:           #abb2bf
URxvt.background:           #23272e
URxvt.cursorColor:          #abb2bf

URxvt.depth:                32
URxvt.transparent:          False
URxvt.inheritPixmap:        False

URxvt.title:                URxvt
URxvt.geometry:             180x45
URxvt.internalBorder:       4
URxvt.borderLess:           False
URxvt.cursorBlink:          False
URxvt.multichar_encoding:   utf-8

URxvt.scrollBar:            True
URxvt.scrollBar_right:      True
URxvt.scrollBar_floating:   True
URxvt.scrollstyle:          plain

URxvt.mouseWheelScrollPage: False
URxvt.secondaryScroll:      True
URxvt.scrollWithBuffer:     False
URxvt.scrollTtyKeypress:    True
URxvt.scrollTtyOutput:      False
URxvt.saveLines:            65536

URxvt.font:                 xft:Fira Code:size=10
URxvt.boldFont:             xft:Fira Code:size=10:Bold
URxvt.lineSpace:            1
URxvt.letterSpace:         -1
